html, body{
    margin: 0;
    padding: 0;
}
h1, h2,h3, h5, h6{
    margin: 0;
    color: brown;
}


header h2{
    text-shadow: rgb(12,4,3,0.8);
}

h2{
    text-align: center;
    font-weight: bold;
}

html body .container {
    position: relative;
    background-color:burlywood;
    padding: 15px 30px;
    margin-right: auto;
    margin-left: auto;
    min-height: calc(100vh - 2 * 15px);
}

span.text-green{
    color: chartreuse;
}

tr:nth-last-child(2) td:nth-child(2){
    color: red;
}

article.box{
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    border-radius: 18px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin :0 15rem;
    padding: 3rem 1.5rem; 
}

